@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: "Montserrat", sans-serif;
}
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background-color: #000000;
  }
  ::-webkit-scrollbar-thumb {
    background: #427d9d47; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #9BBEC8; 
  }
  i{
    cursor: pointer;
  }
  i:hover{
    color:white;
  }
  .loader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loader::before,
  .loader::after {
    position: absolute;
    content: "";
    height: 8em;
    width: 8em;
    border: 1em solid #427D9D;
    border-radius: 50%;
    animation: loader_79178 2s linear infinite;
  }
  
  .loader::after {
    opacity: 0;
    animation-delay: 1s;
  }
  
  @keyframes loader_79178 {
    0% {
      border: 1em solid #427D9D;
      transform: scale(0);
      opacity: 1;
    }
  
    100% {
      border: 0 solid #427D9D;
      transform: scale(1);
      opacity: 0;
    }
  }